
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Global styles */
body {
  font-family: Arial, sans-serif;
  background-color: #f8f8f8;
  color: #333;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

/* Header styles */
header {
  background-color: #333;
  color: white;
  padding: 20px 0;

}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;

}

header h1 {
  font-size: 24px;
  margin: 0;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav ul li a {
  text-decoration: none;
  color: white;
  transition: color 0.3s ease;
}

nav ul li a:hover {
  color: #f00; /* Red color on hover */
}

/* Home section styles */
#Home {
  background: linear-gradient(to bottom, #007bff, #00b36b);
  background-repeat: no-repeat;
  color: white;
  text-align: center;
  padding: 150px;
  
}

/* Footer styles */
footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 30px 0;
  padding-bottom: 10px;
  padding-top: 0px;
  
}
body{
  padding: 0%;
  margin: 0;
  background-color: darkblue;
  color: beige;
  box-sizing: border-box;
}
